doctype html
head
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8C498LNZWL')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-8C498LNZWL');



  - var sitename = 'Spider-man calculator'
  meta(property='og:site_name' content=sitename)
  meta(property='og:type' content='website')
  meta(charset='utf-8')
  
  block continue_head

  //- link(rel='icon' href='assets/img/favicon.png')
  link(href='css/styles.css' rel='stylesheet')

//- // Navigation
//- span#page-top
//- nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
body

  block content

  block continue_scripts